Django>=2.0,<3.0
psycopg2>=2.7,<3.0
requests
flask
Pillow
django-crispy-forms
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter



#for removing the root access of django
#sudo chmod -R a+rwX sneaky(project name)